<div class="dndContainer" cdkDrop>
  <div
    class="expressionContainer"
    cdkDropList
    #expression="cdkDropList"
    [cdkDropListData]="activeFunctions"
    [cdkDropListConnectedTo]="functionsList"
    (cdkDropListDropped)="onDropToExp($event)"
  >
    <div class="functions" *ngFor="let item of activeFunctions" cdkDrag>
      {{ item.name }}
    </div>
  </div>
  <div
    class="functionsContainer"
    cdkDropList
    #functionsList="cdkDropList"
    [cdkDropListData]="functions"
    [cdkDropListConnectedTo]="expression"
    (cdkDropListDropped)="onDropFromExp($event)"
  >
    <div class="functions" *ngFor="let item of functions" cdkDrag>
      {{ item.name }}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
