<div class="dndContainer" cdkDrop>
  <button class="resetButton" (click)="resetButton()">Reset</button>
  <div
    class="expressionContainer"
    cdkDropList
    #expression="cdkDropList"
    [cdkDropListData]="activeFunctions"
    [cdkDropListConnectedTo]="functionsList"
    (cdkDropListDropped)="onDropToExp($event)"
  >
    <div class="functions" *ngFor="let item of activeFunctions" cdkDrag>
      {{ item.name }}
    </div>
    <form (ngSubmit)="evaluateExpression(event)">
      <input *ngFor="let input of inputs" />
      <button *ngIf="inputs.length > 0" type="submit">Evaluate</button>
    </form>
  </div>
  <div
    class="functionsContainer"
    cdkDropList
    #functionsList="cdkDropList"
    [cdkDropListData]="functions"
    [cdkDropListConnectedTo]="expression"
  >
    <div class="functions" *ngFor="let item of functions" cdkDrag>
      {{ item.name }}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
